*{
    /* border: 1px solid; */
}
.container-elements{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar-content{
    display: grid;
    grid-row: 1/4;
}
.header-top{
    height: 100px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-content{
    margin-left: 20px;
}

.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: lightgray;
    gap: 20px;
    padding: 20px;
}

.right-sidebar{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.box-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.box-items > div {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.box-items h3{
    margin: 0;
}

.trending-accounts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.trending-accounts1, .trending-accounts2, .trending-accounts3, .trending-accounts4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.announcements > div{
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.announcements .announcements-container > div{
    margin-bottom: 20px;
}
.announcements h4, p{
margin: 0;
}